@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat';
}

.top_header{
    z-index: 2;
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    color: aliceblue;
    position: fixed;
}
.top_header .header_label{
    padding-top: 0.5%;
    margin-left: 1%;
    display: inline-block;
}

.top_header .header_label #header_label_introduce{    
    margin-left: 30px;
    bottom: 25%;
    position: absolute;
    display: inline-block;
}
.top_header .header_label #header_label_project{       
    bottom: 25%;
    position: absolute;
    margin-left: 180px;    
    display: inline-block;
}
.common_header_label{
    color: white;
}

.top_header .header_label #header_label_introduce:hover{
    cursor: pointer;
    opacity: 0.7;
}

.top_header .header_label #header_label_project:hover{    
    cursor: pointer;
    opacity: 0.7;
}

.top_header .header_title{
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    display: inline-block;
    /* margin-left: 32.5%;     */
}
body{
  background-color: rgb(20, 20, 20);
}

.body_contents{      
    font-size: 50px;
    padding-top: 20%;    
    text-align: center;
    height: 780px;
    color: white;    
}

.chevron_down{
    margin-top: 15%;
}

.body_descryption{
    margin-top: 10px;
    color: #fafbfc;
    font-size: 24px;
}
/* Fade in text animation */

h1 {    
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);  
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.main_text span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);  
}
.body_introduce{
  margin-bottom: -300px;
}

.body_introduce span{  
  display: inline-block;
  opacity: 0;
  filter: blur(4px);  
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-iteration-count:infinite;  
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;  
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-iteration-count:infinite;  
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;  
}

span:nth-child(3) {  
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-iteration-count:infinite;  
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;  
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* portfolio descryption */  
.waviy {    
  position: relative;
}
.waviy span {
  opacity: 0.8;
  position: relative;
  display: inline-block;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.second_contents{
  margin-top: 25%;
  height: 2131px;
}

/* test */
.question_icon_animation{
  animation: icon_ani 1s linear forwards;
  animation-delay: 0.6s;
}
@keyframes icon_ani { 
  0% { transform: translate(0, 0); } 
  20% { transform: translate(0, -10px); } 
  30% { transform: translate(0, -4px); } 
  40% { transform: translate(0, -2px); } 
  50% { transform: translate(0, -6px); } 
  60% { transform: translate(0, -2px); } 
  70% { transform: translate(0, -6px); } 
  80% { transform: translate(0, -4px); } 
  90% { transform: translate(0, -2px); } 
  100% { transform: translate(0, 0px); } 
}

.second_contents{
  color: #fafbfc;
}

/* 최상단 라벨 */
svg{
  margin-left: -385px;
  position:fixed;  
}  

.test{           
  position: fixed; 
  transform: scale(0.3);
}

#text{
  
}

.language_skills{  
  opacity: 0.95;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.747);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 1px #ffffff98;  
  display: inline-block;
  width: auto;  
  /* border: 1px solid #fafbfc; */
  border-radius: 20px;
  transition: 0.3s;
  transform: scale(1.0);  
  margin-bottom: 50px;
}

.language_skills .skill_tag{
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid gray;
}

.language_skills img{  
  padding: 20px;
  border-radius: 20px;
  background-color: #fafbfc;
  display: inline-block;    
  height: auto;
  width: auto; 
}

.language_skills:hover{
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.05);
}

#framework_skills img{
  height: 300px;
}

.language_skills .skill_tag{
  display: block;
}

.body_title{  
  left: 50%;
  width: auto;  
  font-size: 70px;
  margin-bottom: 50px;
}

#body_title_span{    
  font-size: 50px;
  text-shadow: 1px 1px #ffffff4f;
  animation-play-state: running;  
  filter: blur(0px);
  opacity: 1;
  animation-duration: 0.5s;  
  animation-fill-mode: none;  
  border-bottom: 1px solid gray;      
}